@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body */
body {
    background-color: hsl(0, 0%, 100%);
}

.draggable.dragging {
    opacity: .5;
}

/* Hover */
#btn:hover {
    box-shadow: 1px 1px 6px gray;
}

/* transitions */
#btn:active {
    transform: translateY(1.5px);
}